# Binaries
/server
*.exe
*.out
*.test

# Build and dependency files
/dist
/build
/vendor/

# IDE/editor files
.vscode/
.idea/
*.swp

# Logs and runtime
*.log
*.pid

# OS-specific
.DS_Store
Thumbs.db

# env files
.env
.env.*

# Terraform state
*.tfstate
*.tfstate.backup

# Terraform crash logs
crash.log

# Terraform plan output
*.tfplan

# Sensitive variable overrides
terraform.tfvars
*.auto.tfvars

# Terraform .terraform directory
.terraform/

# Certs
certbot/

